aiohttp==3.8.3
aiohttp-retry==2.8.3
aiosignal==1.2.0
amqp==5.1.1
antlr4-python3-runtime==4.9.3
anyconfig==0.10.1
appdirs==1.4.4
arrow==1.2.3
async-timeout==4.0.2
asyncssh==2.12.0
atpublic==3.1.1
attrs==21.4.0
bcrypt==4.0.1
billiard==3.6.4.0
binaryornot==0.4.4
build==0.9.0
cachetools==4.2.4
celery==5.2.7
certifi==2022.9.24
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.5
commonmark==0.9.1
configobj==5.0.6
contourpy==1.0.6
cookiecutter==2.1.1
cryptography==38.0.1
cycler==0.11.0
dictdiffer==0.9.0
diskcache==5.4.0
distro==1.8.0
dpath==2.0.6
dulwich==0.20.46
dvc==2.31.0
dvc-data==0.22.0
dvc-http==2.27.2
dvc-objects==0.11.0
dvc-render==0.0.12
dvc-ssh==2.20.0
dvc-task==0.1.4
dvclive==0.12.1
dynaconf==3.1.11
filelock==3.8.0
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.38.0
frozenlist==1.3.1
fsspec==2022.10.0
funcy==1.17
future==0.18.2
gitdb==4.0.9
GitPython==3.1.29
grandalf==0.6
hydra-core==1.2.0
idna==3.4
importlib-metadata==5.0.0
importlib-resources==5.10.0
iterative-telemetry==0.0.5
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==0.10.0
kedro==0.18.3
kiwisolver==1.4.4
kombu==5.2.4
MarkupSafe==2.1.1
matplotlib==3.6.2
multidict==6.0.2
nanotime==0.5.2
networkx==2.8.7
numpy==1.23.4
omegaconf==2.2.3
packaging==21.3
pandas==1.5.1
pathspec==0.9.0
pep517==0.13.0
Pillow==9.3.0
pip-tools==6.9.0
pluggy==1.0.0
prompt-toolkit==3.0.31
psutil==5.9.3
pycparser==2.21
pydot==1.4.2
pygit2==1.10.1
Pygments==2.13.0
pygtrie==2.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-slugify==6.1.2
pytz==2022.5
PyYAML==6.0
requests==2.28.1
rich==12.6.0
rope==0.21.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scmrepo==0.1.2
seaborn==0.12.1
shortuuid==1.0.9
shtab==1.5.5
six==1.16.0
smmap==5.0.0
sshfs==2022.6.0
tabulate==0.9.0
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.5
toposort==1.7
tqdm==4.64.1
typing_extensions==4.4.0
urllib3==1.26.12
vine==5.0.0
voluptuous==0.13.1
wcwidth==0.2.5
yarl==1.8.1
zc.lockfile==2.0
zipp==3.10.0
